 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles



body {
  background: #fafafa;
  color: #333;
  margin-bottom: 200px;
}


.welcome {
  width: 580px;
  height: 130px;
  border: none;
  color: rgb(122, 223, 69);
  padding-left: 30px;
  margin-left:20px;
  margin-top: 40px;
  font-family: 'Oswald', sans-serif;
  font-size:30px;
}


.wtd {
  font-size: 18px;
  margin-left: 180px;
  margin-top: -35px;
  color: rgb(206, 109, 40);
  font-family: 'Poiret One', cursive;
}

.infofields {
  width: 1500px;
  margin-left: 10px;
  margin-right: 10px;
}

.info {
  font-family: 'Poiret One', cursive;
  color: rgb(94, 181, 217);
  padding-top: 80px;
}


.info2 {
  font-family: 'Poiret One', cursive;
  color: rgb(94, 181, 217);
  padding-top: 80px;
}

.info3 {
  font-family: 'Poiret One', cursive;
  color: rgb(94, 181, 217);
  padding-top: 80px;
}

.info4 {
  font-family: 'Poiret One', cursive;
  color: rgb(94, 181, 217);
  padding-top: 80px;
}

.info5 {
  font-family: 'Poiret One', cursive;
  color: rgb(94, 181, 217);
  padding-top: 80px;
}

.info6 {
  font-family: 'Poiret One', cursive;
  color: rgb(94, 181, 217);
  padding-top: 80px;
}

.info7 {
  font-family: 'Poiret One', cursive;
  color: rgb(94, 181, 217);
  padding-top: 80px;
}

.info8 {
  font-family: 'Poiret One', cursive;
  color: rgb(94, 181, 217);
  padding-top: 80px;
}

.info9 {
  font-family: 'Poiret One', cursive;
  color: rgb(94, 181, 217);
  padding-top: 80px;
}

.info10 {
  font-family: 'Poiret One', cursive;
  color: rgb(94, 181, 217);
  padding-top: 80px;
}
.categ{
 padding-top: 10px;
 width:1000px;
}

.label1{
  display:inline;
  margin-right:120px;
}

.label2{
  display:inline;
  margin-right:130px;
}

.label3{
  display:inline;
  margin-right:110px;
}

.label4{
  margin-right:120px;
  display: inline;
}

.button {
  margin: 10px;
  margin-left: 20px;
  text-decoration: none;
  color: rgb(206, 109, 40);
}



/* SECOND PAGE */

.create {
  width: 580px;
  height: 130px;
  border: none;
  color: rgb(122, 223, 69);
  padding-left: 30px;
  margin-left:20px;
  margin-top: 40px;
  font-family: 'Oswald', sans-serif;
  font-size:34px;
}

.fillout {
  font-size: 18px;
  margin-left: 185px;
  margin-top: -35px;
  color: rgb(206, 109, 40);
  font-family: 'Poiret One', cursive;
}

.acc {
  font-family: 'Poiret One', cursive;
  color: rgb(94, 181, 217);
  display: block;
  padding-top: 100px;
  margin-left: 40px;
  font-size: 20px;
}

.pass {
  font-family: 'Poiret One', cursive;
  color: rgb(94, 181, 217);
  display: inline-flex;
  padding-top: 35px;
  margin-left: 40px;
  font-size: 20px;
}

.ns {
  margin-left: 40px;
  margin-top: 35px;
  border: solid;
  border-width: 1px;
  border-color: lightgray;
  width: 270px;
  background-color: white;
}

.nextpage {
 color: rgb(206, 109, 40);
 text-decoration: none;
 font-family: 'Poiret One', cursive;
 font-size: 20px;
}

.nextstep {
border: solid;
border-width: 1px;
border-color: lightgray;
width: 140px;
height: 30px;
background-color: white;
margin-top: 60px;
margin-left: 230px;
}

.gtp {
  text-decoration: none;
  font-family: 'Poiret One', cursive;
  font-size: 20px;
  color: rgb(206, 109, 40);
}


  // Profile Page

.topPro{
  width: 580px;
  height: 130px;
  border: none;
  color: rgb(94, 181, 217);
  margin: 50px;
  font-family: 'Oswald', sans-serif;
  font-size:34px;
}

.iphone{
  float:left;
  border:solid;

}

.chkbox1{
  border:solid;
  margin-left:
}

.boxTitle{
  color: rgb(94, 181, 217);
  font-family: 'Oswald', sans-serif;
  font-size:40px;
}

.sms{
  color: rgb(94, 181, 217);
  font-family: 'Oswald', sans-serif;
  font-size:20px;
  margin-right:20px;
}
.email{
  color: rgb(94, 181, 217);
  font-family: 'Oswald', sans-serif;
  font-size:20px;
}
