 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles



body {
  background: #fafafa;
  color: #333;
  margin-bottom: 200px;
}


.welcome {
  width: 580px;
  height: 130px;
  border: none;
  color: rgb(122, 223, 69);
  padding-left: 30px;
  margin-left:20px;
  margin-top: 40px;
  font-family: 'Oswald', sans-serif;
  font-size:30px;
}


.wtd {
  font-size: 18px;
  margin-left: 180px;
  margin-top: -35px;
  color: rgb(206, 109, 40);
  font-family: 'Poiret One', cursive;
}

.infofields {
  width: 900px;
  height:1500px;
  margin-left: 10px;
  margin-right: 10px;
}

.info {
  font-family: 'Poiret One', cursive;
  color: rgb(94, 181, 217);
  padding-top: 80px;
}


.info2 {
  font-family: 'Poiret One', cursive;
  color: rgb(94, 181, 217);
  padding-top: 80px;
}

.info3 {
  font-family: 'Poiret One', cursive;
  color: rgb(94, 181, 217);
  padding-top: 80px;
}

.info4 {
  font-family: 'Poiret One', cursive;
  color: rgb(94, 181, 217);
  padding-top: 80px;
}

.info5 {
  font-family: 'Poiret One', cursive;
  color: rgb(94, 181, 217);
  padding-top: 80px;
}

.info6 {
  font-family: 'Poiret One', cursive;
  color: rgb(94, 181, 217);
  padding-top: 80px;
}

.info7 {
  font-family: 'Poiret One', cursive;
  color: rgb(94, 181, 217);
  padding-top: 80px;
}

.info8 {
  font-family: 'Poiret One', cursive;
  color: rgb(94, 181, 217);
  padding-top: 80px;
}

.info9 {
  font-family: 'Poiret One', cursive;
  color: rgb(94, 181, 217);
  padding-top: 80px;
}

.info10 {
  font-family: 'Poiret One', cursive;
  color: rgb(94, 181, 217);
  padding-top: 80px;
}
.categ{
 padding-top: 10px;
 width:1000px;
}

.label1{
  display:inline;
  margin-right:120px;
}

.label2{
  display:inline;
  margin-right:130px;
}

.label3{
  display:inline;
  margin-right:110px;
}

.label4{
  margin-right:120px;
  display: inline;
}

.button {
  margin: 10px;
  margin-left: 20px;
  text-decoration: none;
  color: rgb(206, 109, 40);
}

.trial {
  height: 100px;
  width: 200px;
  display: block;
}



/* SECOND PAGE */

.create {
  width: 580px;
  height: 130px;
  border: none;
  color: rgb(122, 223, 69);
  padding-left: 30px;
  margin-left:20px;
  margin-top: 40px;
  font-family: 'Oswald', sans-serif;
  font-size:34px;
}

.fillout {
  font-size: 18px;
  margin-left: 185px;
  margin-top: -35px;
  color: rgb(206, 109, 40);
  font-family: 'Poiret One', cursive;
}

.acc {
  font-family: 'Poiret One', cursive;
  color: rgb(94, 181, 217);
  display: block;
  padding-top: 100px;
  margin-left: 40px;
  font-size: 20px;
}

.pass {
  font-family: 'Poiret One', cursive;
  color: rgb(94, 181, 217);
  display: inline-flex;
  padding-top: 35px;
  margin-left: 40px;
  font-size: 20px;
}

.ns {
  margin-left: 40px;
  margin-top: 35px;
  width: 300px;
}

.nextpage {
 color: rgb(206, 109, 40);
 text-decoration: none;
 font-family: 'Poiret One', cursive;
 font-size: 20px;
}


// ADD FAMILY PAGE

.nextstep {
border: solid;
border-width: 1px;
border-color: lightgray;
width: 140px;
height: 30px;
background-color: white;
margin-top: 60px;
margin-left: 230px;
}

.gtp {
  text-decoration: none;
  font-family: 'Poiret One', cursive;
  font-size: 20px;
  color: rgb(206, 109, 40);
}


  // Profile Page

.topPro{
  width: 580px;
  height: 130px;
  border: none;
  color: rgb(94, 181, 217);
  margin: 50px;
  font-family: 'Oswald', sans-serif;
  font-size:34px;
}

.iphone{
  float:left;
  margin-bottom: 100px;
}

.chkbox1 {
  border: solid;
  margin-left: 435px;
  margin-right: 590px;
  border-radius: 6px;
  margin-top: 210px;
  border-color: rgb(94, 181, 217);
}

.submitbutt {
  text-decoration: none;
  border:solid;
  border-color:rgb(206, 109, 40);
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 5px;
  display:block;
  width:80px;
  height:30px;
  border-width: 1px;
  border-radius: 2px;
}

.submit {
  text-decoration: none;
  color: rgb(206, 109, 40);
  font-family: 'Poiret One', cursive;
  font-size: 20px;
  padding: 10px;
}

.boxTitle{
  color: rgb(206, 109, 40);
  font-family: 'Oswald', sans-serif;
  font-size:30px;
  margin-top: 10px;
  margin-bottom: -2px;
}

.sms{
  color: rgb(94, 181, 217);
  font-family: 'Oswald', sans-serif;
  font-size:20px;
  margin-right:20px;
}
.email{
  color: rgb(94, 181, 217);
  font-family: 'Oswald', sans-serif;
  font-size:20px;
}

.choose {
  color: rgb(122, 223, 69);
  font-family: 'Poiret One', cursive;
  display: block;
}

.nextTitle {
  color: rgb(206, 109, 40);
  font-size: 30px;
  font-family: 'Oswald', sans-serif;
  margin-top: 10px;
  margin-bottom: -2px;
}

.chkbox2 {
  border: solid;
  margin-left: 435px;
  margin-right: 590px;
  margin-top: 50px;
  border-radius: 6px;
  border-color: #5eb5d9;
  height: 120px;
}

.mfm {
  color: rgb(122, 223, 69);
  font-family: 'Poiret One', cursive;
  display: block;
  margin-bottom: 10px;
}

.nextpage {
  border: solid;
  border-width: 1px;
  border-radius: 2px;
  padding: 3px;

}
